<div class="item-bag">
  <!-- Main Content Layout -->
  <div class="main-layout">
    <!-- Left Panel - Backpack Image -->
    <div class="left-panel">
      <div class="backpack-container">
        <img src="assets/images/items/backpack.png" alt="Backpack" class="backpack-image" />
      </div>
    </div>

    <!-- Right Panel - Project List -->
    <div class="right-panel">
      <div class="project-list">
        <div 
          *ngFor="let item of items; let i = index" 
          class="project-item"
          [class.selected]="selectedIndex === i"
          (click)="selectProject(i)">
          <span class="project-name">{{ item.name }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom Panel - Description -->
  <div class="description-panel" *ngIf="selectedProject">
    <div class="description-content">
      <div class="description-text">
        {{ selectedProject.description }}
        <div class="project-links">
          <div class="github-link" *ngIf="selectedProject.githubUrl">
            <a [href]="selectedProject.githubUrl" target="_blank" class="external-link">
              <span class="link-text">View on GitHub</span>
              <span class="external-icon">↗</span>
            </a>
          </div>
          <div class="live-link" *ngIf="selectedProject.liveUrl">
            <a [href]="selectedProject.liveUrl" target="_blank" class="external-link">
              <span class="link-text">View Link</span>
              <span class="external-icon">↗</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
