<div class="dynamic-view">
  <!-- Header Bar -->
  <div class="header-bar">
    <div class="header-left">
      <span class="header-text">{{ getHeaderTitle() }}</span>
    </div>
    <div class="header-right">
      <span class="cancel-button" (click)="goBack()">CANCEL</span>
    </div>
  </div>

  <div *ngIf="isLoading" class="loading">
    Loading...
  </div>

  <div *ngIf="!isLoading && viewConfig">
    <div [ngSwitch]="componentType">
      <app-pokemon-picker
        *ngSwitchCase="'pokemon-picker'"
        [items]="viewConfig.items">
      </app-pokemon-picker>

      <app-item-bag
        *ngSwitchCase="'item-bag'"
        [items]="viewConfig.items">
      </app-item-bag>

      <app-dialog-box
        *ngSwitchCase="'dialog-box'"
        [items]="viewConfig.items"
        [content]="viewConfig['content']">
      </app-dialog-box>

      <app-contact-form
        *ngSwitchCase="'contact-form'"
        [content]="viewConfig['content']">
      </app-contact-form>

      <div *ngSwitchDefault class="error">
        Unknown component type: {{ componentType }}
      </div>
    </div>
  </div>
</div>
